@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 335 87% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 335 80% 96%;
    --secondary-foreground: 335 87% 55%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 335 87% 97%;
    --accent-foreground: 335 87% 55%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 85%;
    --ring: 335 87% 55%;
    --radius: 1.5rem;
  }
  .dark {
    --background: 230 20% 6%;
    --foreground: 210 20% 98%;
    --card: 230 20% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 230 20% 6%;
    --popover-foreground: 210 20% 98%;
    --primary: 335 87% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 335 87% 12%;
    --secondary-foreground: 335 87% 75%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 335 87% 15%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 335 87% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
